:root {

  /* 전체 UI 기준 크기 */
  --ui-scale: clamp(450px, min(60vw, 75vh), 600px);

  /* 비율 계산용 */
  --scale: calc(var(--ui-scale) / 600px);

  /* 패널 너비 */
  --left-width: calc(var(--ui-scale) * 0.34);
  --right-width: calc(var(--ui-scale) * 0.18);

  /* 간격 시스템 */
  --outer-gap: calc(var(--ui-scale) * 0.0833);
  --inner-gap: calc(var(--ui-scale) * 0.05);
  --user-gap: calc(var(--ui-scale) * 0.1666);

  /* 폰트 */
  --font-size: clamp(14px, 1vw, 18px);

  /* radius */
  --radius: calc(15px * var(--scale));
}


body {

  margin: 0;

  background: #c3ffff;

  font-family: sans-serif;

  overflow: hidden;
}


/* 공통 박스 스타일 */

.common-box {

  background: #eeeeee;

  box-sizing: border-box;

  border-radius: var(--radius);
}