.game-wrapper {

  height: 100vh;

  background: #c3ffff;

  display: flex;

  justify-content: center;
  align-items: center;
}


.game-layout {

  display: grid;

  grid-template-columns:
    var(--left-width)
    var(--ui-scale)
    var(--right-width);

  column-gap: var(--inner-gap);

  padding: var(--outer-gap);

  box-sizing: border-box;
}